@import "./reset.scss";
@import "./layout";

.signupzone {
  width: 100%;
  font-family: $defaultFont;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  div {
    padding-left: 1rem;
    margin-top: 1rem;
    input {
      width: 93%;
      height: 35px;
      border: 1px solid #c4c4c4;
      background-color: #fff;
      margin-top: 0.5rem;
    }
  }
}

.signupconfirm {
  text-align: right;
  width: 100%;
  button {
    width: 20%;
    height: 40px;
    background-color: #156015;
    color: #ffffff;
    margin-top: 1rem;
  }
}
